.modalEl{
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
    z-index: 9999;
    .modalEl-content{
        width: 40%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 5px;
        justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    h4{
        margin: 0;
    }
    }
}